[Desktop Entry]
Name=Dash Desktop Crypto Wallet
Comment=Dash crypto wallet for desktop
Exec=dash-desktop-wallet %U
Icon=io.github.pshenmic.dash-desktop
Terminal=false
Type=Application
Categories=Office;Finance;
Keywords=wallet;crypto;cryptocurrency;dash;
StartupWMClass=Dash Desktop
